<%- include("./partials/header")%>
<main>
  <form action="/clucks" method="POST">
    <label class= 'index' for="content">content</label>
    <br>
    
    <input class ="grid-container3" type="text" name="content" placeholder="what ?" />
    <br>
    <label class= 'index' for="content">image URl</label>
    <br>
    <input class ="grid-container5" type="url" name="image URL" placeholder="http://www.." />
    <br>
    <input class ="grid-container4" type="submit" value="Cluck"/>
  </form>
</main>